{% extends "modal.html.twig" %}

{% block title %}Donate | {% endblock %}

{% block scripts %}
    <script src="https://js.stripe.com/v3/"></script>
    <script src="/js/charge.js"></script>
    <script>
        initialize({{ charity }}, {{ donationAmount }});
        checkStatus();
    </script>
{%  endblock %}

{% block content %}
<div class="my-4 w-full">
    <div class="mt-6">
        <h2>Donate</h2>
        <form id="payment-form" class="border-2 border-slate-200 rounded-md bg-white">
            <div id="payment-element" class="mb-4 p-4"></div>
            <div class="border-t-2 bg-slate-50 p-4 grid justify-items-end">
                <button id="submit" class="rounded-md px-6 py-2 bg-purple-800 text-white font-bold">
                    <div class="spinner hidden" id="spinner"></div>
                    <span id="button-text">Donate Now</span>
                </button>
            </div>
            <div id="payment-message" class="hidden"></div>
        </form>
    </div>
</div>
{% endblock %}
