<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}Help Those Helping Others</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon"
          type="image/png"
          href="/images/favicon.png">
    {% block meta %}
    {% endblock %}
</head>
<body>
<main id="app" class="w-full">
    {% block content %}
    {% endblock %}
</main>
<footer class="mt-0 mb-8 pb-8">
    <hr class="mt-0">
    <span class="text-slate-500">Designed and built by <a href="https://matthewsetter.com">Matthew Setter</a> in Germany. &copy; Twilio {{ "now"|date("Y") }}. All rights reserved.</span>
    <!--
    <div>Social media icon credits</div>
    <ul class="list-outside list-disc ml-4">
        <li><a href="https://www.flaticon.com/free-icons/twitter-social-badge"
               title="twitter social badge icons">Twitter social badge icons created by Grow studio - Flaticon</a></li>
        <li><a href="https://www.flaticon.com/free-icons/instagram"
               title="instagram icons">Instagram icons created by riajulislam - Flaticon</a></li>
        <li><a href="https://www.flaticon.com/free-icons/linkedin"
               title="linkedin icons">Linkedin icons created by Freepik - Flaticon</a></li>
    </ul>
    -->
</footer>
{% block scripts %}
{% endblock %}
</body>
</html>
